**/node_modules
**/dist
**/dev-dist
**/.venv
**/__pycache__
**/*.pyc
.git
.github
.pytest_cache
.ruff_cache
tests/*.xls
tests/*.XLS
tests/*.xlsx
frontend/public/pyodide-packages/*.whl
frontend/public/pyodide-packages/manifest.json
*.md
!README.md
